.wd-search-tuiter {
  bottom: 25px;
  left: 12px;
}

.wd-header-flex-container{
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-left: 30px;
}

.wd-search-dimension-landscape {
  width: 500px;
  height: 40px;
  border-radius: 50px;
  border-color: rgb(19, 17, 17);
  background-color: rgb(42, 44, 46);
}

.fa.fa-search {
  padding-right: 10px;
}

.fa.fa-gear {
  width: 36px;
  height: 36px;
  padding-top: 5px;
  padding-left: 20px;
}

input[type="text"]::placeholder {
  padding-left: 20px;
  font-family: Arial Rounded MT Bold;
}

.wd-padding-right {
  padding-right: 3px;
}

.wd-font-size {
  font-size: 75%;
}

.wd-search-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wd-navigation-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0px;
  padding-left: 16px;
  border-bottom: solid 2px;
  border-color: rgb(110, 118, 125);
  margin-bottom: 0px;
}

.wd-selected {
  border-bottom: solid 4px;
  border-color: dodgerblue;
  display: inline-block;
}

.wd-placement {
  bottom: 55px;
  left: 5px;
}

.wd-border-side {
  padding-right: 0px;
  padding-left: 0px;
  border-color: rgb(47, 51, 54);
  border-left: solid 1px;
  border-color: rgb(47, 51, 54);
  border-right: solid 1px;
  border-color: rgb(47, 51, 54);
}

.wd-padding-fat {
  padding: 16px;
}

.wd-tweet-flex-container {
  display: flex;
  flex-direction: column;
}

.wd-border-bottom {
  border-bottom: solid 1px;
  border-color: rgb(47, 51, 54);
}

.wd-tuits-heading {
  display: flex;
  flex-direction: row;
  font-family: "Arial Rounded MT Bold";
  font-size: 15px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wd-tuits-sub-heading {
  font-family: "Arial Rounded MT Bold";
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-tuits-news {
  display: flex;
  flex-direction: row;
}

.wd-tuits-news-sub-heading {
  font-family: "Arial Rounded MT Bold";
  font-size: 13px;
  color: white;
  padding-left: 10px;
}

.wd-tuits-news-timestamp {
  font-family: "Arial";
  font-size: 13px;
  color: rgb(110, 118, 125);
  padding-left: 10px;
}

.wd-heading-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 16px;
}

.fa.fa-ellipsis-h {
  color: rgb(110, 118, 125);
}

.fa.fa-check-circle {
  color: white;
  padding-left: 10px ;
}

.wd-rounded-corner {
  border-radius: 20px;
}