.wd-padding-left {
  padding-left: 20px;
}

.wd-profile-padding-left {
  padding-left: 40px;
}

.wd-profile-response-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.wd-padding-top {
  padding-top: 20px;
}

.wd-image-pos {
  padding-left: 30px;
  width: 600px;
  height: 250px;
}

.wd-image-height {
  height: 250px;
}

.wd-nudge-up {
  bottom: -30px;
  left: 55px;
}

.wd-button {
  margin-left:450px;
}


.wd-whole-flex-container {
  display: flex;
  flex-direction: column;
  border-top: solid 1px;
  border-color: lightgrey;
  border-left: solid 1px;
  border-color: lightgrey;
  border-right: solid 1px;
  border-color: lightgrey;
  border-bottom: solid 1px;
  border-color: lightgrey;
  padding-bottom: 15px;
}

.wd-header-flex-container {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
  border-color: lightgrey;
}

.wd-header-flex-container.wd-border-bottom.fa.fa-ellipsis-h {
  color: rgb(29,161,242);
}

.wd-title-flex-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.wd-settings {
  color: rgb(29,161,242);
  padding-right: 16px;
}

.wd-heading {
  padding-top: 12px;
  font-family:"Arial Rounded MT Bold";
  font-size: 20px;
  color: black;
}
.wd-handle {
  padding-top: 3px;
  padding-bottom: 12px;
  font-family: "Arial";
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-avatar {
  border-radius: 50%;
}

.wd-rich-tweet-flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
  border-bottom: solid 1px;
  border-color: lightgrey;
}

.wd-avatar-flex-container {
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 50%;
}

.wd-tweet-flex-container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 12px;
}

.wd-tweet-head-flex-box {
  display: flex;
  flex-direction: row;
  font-family: "Arial Rounded MT Bold";
  font-size: 15px;
  padding-right: 5px;
}

.fa.fa-check {
  margin-top: 4px;
  padding-left: 2px;
}

.wd-tweet-handle-flex-box {
  font-family: Arial;
  font-size: 15px;
  color: rgb(110, 118, 125);
  padding-left: 4px;
}

.fa.fa-ellipsis-h {
  padding-left: 220px;
  color: rgb(110, 118, 125);
}

.wd-paragraph-flex-container {
  font-family: Arial;
  font-size: 15px;
  color: black;
  padding-right: 16px;
  max-width: 504px
}

.wd-rich-media-container {
  margin-bottom: 12px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid 1px lightgrey;
  max-width: 504px;
}

.wd-image-1 {
  margin-top: -15px;
  padding-top: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-width: 504px;
}

.wd-rich-text-rounded-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.wd-border-size {
  width: 504px;
}

.wd-rich-text-head-flex-box {
  font-family: "Arial Rounded MT Bold" ;
  font-size: 15px;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 12px;
}

.wd-rich-text-content-flex-box {
  display: flex;
  justify-content: center;
  font-family: Arial ;
  font-size: 15px;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.wd-rich-text-link-flex-box {
  display: flex;
  flex-direction: row;
  font-family: Arial ;
  font-size: 15px;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.wd-link {
  padding-left: 10px;
}

.wd-tweet-response-flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-left: 15px;
}

.wd-message-reaction {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.fa.fa-comment-o {
  color: rgb(110, 118, 125);
  margin-top: 4px;
}

.wd-message-count {
  font-family: "Arial";
  padding-left: 12px;
  color: rgb(110, 118, 125);
}

.wd-retweet-reaction {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.fa.fa-retweet {
  color: rgb(110, 118, 125);
  margin-top: 4px;
}

.wd-retweet-count {
  font-family: "Arial";
  padding-left: 12px;
  color: rgb(110, 118, 125);
}

.wd-love-reaction {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.fa.fa-heart {
  color: deeppink;
  margin-top: 4px;
}

.wd-love-count {
  font-family: "Arial";
  padding-left: 12px;

}

.wd-share-reaction {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.fa.fa-share-square-o {
  color: rgb(110, 118, 125);
  margin-top: 4px;
}

.wd-share-count {
  font-family: "Arial";
  padding-left: 12px;
  color: rgb(110, 118, 125);
}